body {
    background-color: rgb(0, 69, 134);
    color: blanchedalmond;
    font-family: "VT323", monospace;
}

h1 {
    color:rgb(220, 20, 193);
    text-shadow:  0px 0px 5px white;
    font-family: 'press start 2p', monospace;
}
a{
    color: yellow;
}
a:hover{
    color: rgb(220, 20, 193);
    text-shadow: 0px 0px 15px white;
}
.container{
    max-width: 1300px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    border: 3px solid rgb(220, 20, 193);
    box-shadow: 0px 0px 20px cyan;
}
nav a{
    text-decoration: none;
    margin: 0 20px;
    font-size: larger;
    font-weight: bold;
}
marquee{
    color: rgb(220, 20, 193);
    font-family: "vt323", monospace;
    font-size: xx-large;
    font-weight: bolder;
}
article{
    background-color: rgb(5, 43, 78);
    border: 2px solid rgb(220, 20, 193);
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0px 0px 10px cyan;
}

.gallery {
 column-count: 3;
 column-gap: 10px;
}

.gallery img {
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 5px cyan;
}

#lightbox-img {
    width: auto;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    box-shadow: 0px 0px 30px cyan;
    margin: auto;
    display: block;
}
.lightbox-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}