body {
    background-color: navy;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color:rgb(220, 20, 193);
    text-shadow:  0px 0px 5px white;
}
a{
    color: yellow;
}
a:hover{
    color:aqua;
    text-shadow: 0px 0px 15px white;
}
.container{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    border: 3px dashed yellow;
    box-shadow: 0px 0px 20px cyan;
}
nav a{
    text-decoration: none;
    margin: 0 20px;
    font-size: larger;
    font-weight: bold;
}
marquee{
    color: coral;
    font-size: large;
    font-style:oblique;
    font-weight: bolder;
}
